/* Search bar CSS */
.background {
    height: 100vh;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* position: relative;
    top: 10px; */
}

.search_bar {
    background-color: white;
    /* #2e2e2e */
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 250px;
    opacity: .2;
} 

 #test_button {
    color: black;
    border: none;
    position: relative;
    top: 15px;
}

/* input::placeholder {
    font-size: 40px;
} */

input[type=text] {
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;  
}

input[type=text]:focus {
    width: 80%;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .search_bar {
        position: relative;
        bottom: 130px;
        opacity: .2;
        width: 280px;
        height: 60px;
    } 
   
}



