.nav-bar {
    background-color: #2e2e2e;
    overflow: hidden;
    height: 100px; 
}

.background {
    background: #eee;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
}

.scroll{
    color: black;
    background-color: black;
}

.progress_bar {
    /* width: 250px; */
    width: 100%;
}

.rating_style {
    font-size: 50px;
    color: #ee278c;
    font-family: 'Oswald', sans-serif;
}

.search_bar {
    background-color: #eee;
    position: relative;
    top: 20px;
    width: 300px;
}

.img_scroll {
    width: 250px;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

.scroll {
    color: white;
}

.game-title {
    font-family: 'Righteous', cursive;
    width: 250px;
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
}

.page-header {
    position: relative;
    left: 480px;
}

h1 {
    color: white;
    position: relative;
    left: 450px;
    bottom: 70px;
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-weight: 100;
}

h3 {
     color: #2e2e2e; 
     font-family: 'Oswald', sans-serif;
}

.reddit_posts {
    width: 60%;
    height: 300px;
    margin-top: 50px; 
    margin-right: 70px;  
    overflow: auto;
    background-color: white;
}

.input::placeholder {
    padding-left: 30px;
}

/* Fix search */
/* input[type=text] {
    width: 200px;
} */

#embed-view {
    margin-top: 40px;
}

.redditThread {
    margin-bottom: 20px;
    /* border: 5px solid white; */
    font-family: 'Oswald', sans-serif;
    background-color: rgb(247, 244, 244);
}

.redditLink {
    color: rgb(38,237,234) !important;
    font-family: 'Oswald', sans-serif;
}

.rating {
    margin-top: 50px; 
    height: 300px;
    overflow: auto;
    background-color: white;
    font-family: 'Oswald', sans-serif;
} 

.recommendedGame {
    float: left;
    padding: 20px;
    height: 200px;
    width: 20%;
    margin-top: 80px;
    margin-bottom: 20px;
}

.recommended {
    margin-top: 100px;
    margin-bottom: 40px;
    background-color: white;
    font-family: 'Oswald', sans-serif;
    overflow: auto;
}

#recommendedGame0,
#recommendedGame1,
#recommendedGame2,
#recommendedGame3,
#recommendedGame4 {
    margin-top: 0px;
}

/* Media Queries */
@media screen and (max-width: 767px) {
    .search_bar {
        position: relative;
        left: 100px;
        width: 150px;
    }
    
}




