.logo {
    position: absolute;
    left: 0;
    top: 0;
}

.img_scroll {
    width: 250px;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

/* .container {
    width: 100%;
    height: 500px;
    background-color: gray;
} */

h2 {
    font-weight: 100;
}

.customer_reviews {
    width: 60%;
    height: 200px;
    margin-top: 50px; 
    margin-right: 20px;  
    overflow: auto;
}

.rating {
    margin-top: 50px; 
    height: 200px;
} 

.recommended {
    margin-top: 50px;
    margin-bottom: 50px;
}

